@use "sass:map";
@use "../../../abstracts/index" as *;

%base-form {
  inline-size: 100%;
}

%base-form-input-label {
  @include line-clamp(1);
  font-size: map.get(map.get($fontPreset, preset-1), size);
  color: var(--blue-800);
  font-weight: 700;
}

%base-form-input-field {
  font-size: map.get(map.get($fontPreset, preset-2), size);
  color: var(--blue-800);
  font-weight: 400;
}

%base-form-input-error {
  text-align: end;
  font-size: map.get(map.get($fontPreset, preset-1), size);
  color: var(--red);
  font-weight: 700;
}
