@use "sass:map";
@use "../../abstracts/index" as *;

@mixin input-modifier(
  $background-color: white,
  $text-color: black,
  $border-color: black
) {
  border: 1px solid $border-color;
  background-color: $background-color;
  color: $text-color;

  &:focus {
    border: 1px solid $border-color;
  }
}
