/* -------------- Break point modifier --------------*/
/* -------------- Position --------------*/
/*
-------------------------------------------------
    Color
-------------------------------------------------
*/
/*
-------------------------------------------------
    Font size
-------------------------------------------------
*/
/*
-------------------------------------------------
    Margin & padding
-------------------------------------------------
*/
/*
-------------------------------------------------
    Radius
-------------------------------------------------
*/
.container {
  display: flex;
  align-items: center;
  inline-size: 100vw;
  min-block-size: 100vh;
  overflow: hidden;
}
@media only screen and (min-width: 37.5em) {
  .container {
    inline-size: auto;
    max-inline-size: 37.5em;
    margin: 1em;
  }
}
@media only screen and (min-width: 62em) {
  .container {
    max-inline-size: 55em;
    margin: 0;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --red: hsl(4, 100%, 67%);
  --red-100: hsl(356, 100%, 94%);
  --blue-800: hsl(234, 29%, 20%);
  --blue-700: hsl(235, 18%, 26%);
  --grey: hsl(0, 0%, 58%);
  --white: hsl(0, 0%, 100%);
}

body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  line-height: 1.5;
  background-color: var(--blue-700);
}

main {
  display: flex;
  justify-content: center;
}

ul {
  list-style: none;
}

button {
  border: none;
  cursor: pointer;
}

input {
  outline: none;
}

img {
  display: block;
  inline-size: 100%;
  block-size: 100%;
  object-fit: contain;
}

html {
  font-size: 100%;
}

h1,
h2 {
  font-size: 2.5em;
  line-height: 1.1;
  font-weight: 700;
}
@media only screen and (min-width: 37.5em) {
  h1,
  h2 {
    font-size: 3.5em;
  }
}

.carousel {
  inline-size: 100%;
  block-size: 100%;
  overflow: hidden;
}
.carousel__slider {
  inline-size: 100%;
  block-size: 100%;
  display: flex;
  align-items: center;
}
.carousel__item {
  flex: 0 0 100%;
  padding: 0;
}
@media only screen and (min-width: 37.5em) {
  .carousel__item {
    padding: 0.5em;
  }
}

.success, .signup {
  block-size: 100%;
  background-color: var(--white);
}
@media only screen and (min-width: 37.5em) {
  .success, .signup {
    border-radius: 2em;
  }
}
@media only screen and (min-width: 62em) {
  .success, .signup {
    block-size: auto;
  }
}

.success__header, .signup__header {
  display: flex;
  flex-wrap: wrap;
  row-gap: 1.5em;
}

.success__title, .signup__title {
  color: var(--blue-800);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  line-clamp: 2;
}

.success__desc, .signup__desc {
  font-size: 1em;
  font-weight: 400;
  color: var(--blue-800);
}

.signup {
  padding: 0;
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
}
@media only screen and (min-width: 37.5em) {
  .signup {
    padding: 1.5em;
  }
}
@media only screen and (min-width: 62em) {
  .signup {
    grid-template-columns: 50% 45%;
    align-items: center;
    justify-content: space-between;
  }
}
.signup__image {
  overflow: hidden;
  grid-column: 1;
  grid-row: 1;
}
@media only screen and (min-width: 37.5em) {
  .signup__image {
    border-radius: 1.25em;
  }
}
@media only screen and (min-width: 62em) {
  .signup__image {
    grid-column: 2;
    grid-row: 1;
  }
}
.signup__body {
  padding-inline: 1.25em 1.25em;
  padding-block: 2.5em;
  grid-column: 1;
  grid-row: 2;
}
@media only screen and (min-width: 62em) {
  .signup__body {
    padding-block: 0;
    grid-column: 1;
    grid-row: 1;
  }
}
.signup__title {
  flex: 0 0 100%;
}
.signup__desc {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  flex: 0 0 100%;
}
.signup__list {
  margin-block-start: 1.5em;
  inline-size: 100%;
}
.signup__list-group {
  display: flex;
  flex-wrap: wrap;
  row-gap: 0.5em;
}
.signup__list-item {
  display: inline-flex;
  align-items: start;
  column-gap: 1em;
  flex: 0 0 100%;
}
.signup__list-icon {
  background: url(../assets/images/icon-list.svg);
  background-size: contain;
  background-repeat: no-repeat;
  inline-size: 1.2em;
  block-size: 1.2em;
  flex: 0 0 auto;
}
.signup__list-text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  font-size: 1em;
  font-weight: 400;
  color: var(--blue-80);
  flex: 1 1 auto;
}
.signup__form {
  margin-block-start: 2.5em;
  inline-size: 100%;
  display: flex;
  flex-wrap: wrap;
  row-gap: 1.5em;
}
.signup__form-group {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  row-gap: 0.5em;
  flex: 0 0 100%;
}
.signup__form-label {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  font-size: 0.75em;
  font-weight: 700;
  color: var(--blue-800);
  grid-column: 1;
  grid-row: 1;
}
.signup__form-input {
  font-size: 1em;
  font-weight: 400;
  color: var(--blue-800);
  grid-column: 1/span 2;
  grid-row: 2;
}
.signup__form-error {
  text-align: end;
  font-size: 0.75em;
  font-weight: 700;
  color: var(--red);
  grid-column: 2;
  grid-row: 1;
}
.signup__form-input {
  padding: 0.75em;
  border: 1px solid var(--grey);
  border-radius: 0.5em;
}
.signup__form-input:focus {
  border: 1px solid var(--blue-800);
}
.signup__form-input--danger {
  border: 1px solid var(--red);
  background-color: var(--red-100);
  color: var(--red);
}
.signup__form-input--danger:focus {
  border: 1px solid var(--red);
}
.signup__form-submit {
  display: block;
  text-align: center;
  padding: 1em;
  border-radius: 0.5em;
  inline-size: 100%;
}
.signup__form-submit-text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  line-clamp: 2;
}
.signup__form-submit--primary {
  background-color: var(--blue-800);
  font-size: 1em;
  font-weight: 700;
  color: var(--white);
}
.signup__form-submit--primary:hover {
  background: linear-gradient(to right, #ff527b, #ff6a3a);
  box-shadow: hsl(4, 100%, 67%) 0px 22px 25px -13px;
}

.container-success {
  display: flex;
  inline-size: 100%;
  block-size: 100%;
}
@media only screen and (min-width: 62em) {
  .container-success {
    justify-content: center;
    block-size: auto;
  }
}

.success {
  padding: 2.5em;
  flex: 0 0 100%;
}
@media only screen and (min-width: 62em) {
  .success {
    flex: 0 0 50%;
  }
}
.success__body {
  display: flex;
  flex-wrap: wrap;
  block-size: 100%;
}
.success__header {
  flex: 0 0 100%;
  align-self: center;
}
.success__icon {
  inline-size: 4em;
}
.success__title {
  flex: 0 0 100%;
}
.success__desc {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 5;
  line-clamp: 5;
  flex: 0 0 100%;
}
.success__button {
  flex: 0 0 100%;
  align-self: end;
  margin-block-start: 2.5em;
  display: block;
  text-align: center;
  padding: 1em;
  border-radius: 0.5em;
  inline-size: 100%;
}
.success__button-text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  line-clamp: 2;
}
.success__button--primary {
  background-color: var(--blue-800);
  font-size: 1em;
  font-weight: 700;
  color: var(--white);
}
.success__button--primary:hover {
  background: linear-gradient(to right, #ff527b, #ff6a3a);
  box-shadow: hsl(4, 100%, 67%) 0px 22px 25px -13px;
}

/*# sourceMappingURL=style.css.map */
