@use "sass:map";
@use "../abstracts/index" as *;

:root {
  @each $name, $color in $colors {
    --#{"" + $name}: #{$color};
  }
}

body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  line-height: 1.5;
  background-color: var(--blue-700);
}

main {
  display: flex;
  justify-content: center;
}

ul {
  list-style: none;
}

button {
  border: none;
  font-family: inherit;
  box-shadow: none;
  cursor: pointer;
}

input {
  outline: none;
}

img {
  display: block;
  inline-size: 100%;
  block-size: 100%;
  object-fit: contain;
}
