@use "sass:map";
@use "../abstracts/index" as *;

html {
  font-size: px-to-percent(16px);
}

h1,
h2 {
  font-size: map.get($fontSize, fs-8);
  line-height: 1.1;
  font-weight: 700;

  @media only screen and (min-width: map.get($breakPoints, sm)) {
    font-size: map.get($fontSize, fs-10);
  }
}
