@use "sass:map";
@use "../../abstracts/index" as *;

@mixin button-modifier($background-color: black, $text-color: white) {
  background-color: $background-color;
  color: $text-color;

  &:hover {
    background: linear-gradient(to right, #ff527b, #ff6a3a);
    box-shadow: hsl(4, 100%, 67%) 0px 22px 25px -13px;
  }
}
