@use "sass:map";
@use "../../../abstracts/index" as *;

%container-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: map.get($spacing, 2);

  > * {
    flex: 1 1 100%;
  }
}

%container-list-item {
  display: inline-flex;
  align-items: start;
  column-gap: map.get($spacing, 4);
}
