@use "sass:map";
@use "../abstracts/index" as *;

/* -------------- Font preset --------------*/
@each $preset, $value in $fontPreset {
  .font-#{$preset} {
    font-size: map.get($value, size);
  }
}

/* -------------- Line clamp --------------*/
@for $i from 1 through 5 {
  .line-clamp-#{$i} {
    @include line-clamp($i);
  }
}

/* -------------- Font weight --------------*/
$weights: (
  normal: 400,
  bold: 700,
);

@each $weight, $value in $weights {
  .font- {
    &#{$weight} {
      font-weight: #{$value};
    }
  }
}

/* -------------- Text align --------------*/
@each $position in $positions {
  .text-#{$position} {
    text-align: $position;
  }
}
