@use "sass:map";
@use "../abstracts/index" as *;

@each $size, $value in $spacing {
  /* -------------- Margin top --------------*/
  .mt-#{$size} {
    margin-block-start: $value;

    // break point
    @each $bp, $bpValue in $breakPoints {
      @media only screen and (min-width: $bpValue) {
        &-#{$bp} {
          margin-block-start: $value;
        }
      }
    }
  }

  /* -------------- Row gap --------------*/
  .row-gap-#{$size} {
    row-gap: $value;

    // break point
    @each $bp, $bpValue in $breakPoints {
      @media only screen and (min-width: $bpValue) {
        &-#{$bp} {
          row-gap: $value;
        }
      }
    }
  }
}
