@use "sass:map";
@use "../abstracts/index" as *;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  inline-size: 100vw;
  min-block-size: 100vh;
  overflow: hidden;

  @include media-query-sm() {
    inline-size: px-to-rem(600px);
    margin: map.get($spacing, 4);
  }

  @include media-query-md() {
    inline-size: px-to-rem(880px);
    margin: map.get($spacing, 0);
  }
}
