@use "sass:map";
@use "../../../abstracts/index" as *;

/*
------------------------------------- 
  Card base style  
-------------------------------------
*/
%base-card {
  block-size: 100%;
  border-radius: map.get($radius, 0);
  background-color: var(--white);

  @media only screen and (min-width: map.get($breakPoints, sm)) {
    border-radius: map.get($radius, br-8);
  }

  @media only screen and (min-width: map.get($breakPoints, md)) {
    block-size: auto;
  }
}

/*
------------------------------------- 
  Card signup base style  
-------------------------------------
*/
%base-signup {
  padding: map.get($spacing, 0);

  @media only screen and (min-width: map.get($breakPoints, sm)) {
    padding: map.get($spacing, 6);
  }
}

%base-signup-image {
  overflow: hidden;

  @media only screen and (min-width: map.get($breakPoints, sm)) {
    border-radius: map.get($radius, br-6);
  }
}

%base-signup-body {
  padding-inline: map.get($spacing, 5) map.get($spacing, 5);
  padding-block: map.get($spacing, 10);

  @media only screen and (min-width: map.get($breakPoints, md)) {
    padding-block: map.get($spacing, 0);
  }
}

/*
------------------------------------- 
  Card notification base style  
-------------------------------------
*/
%base-container-notification {
  inline-size: 100%;
  block-size: 100%;

  @media only screen and (min-width: map.get($breakPoints, md)) {
    block-size: auto;
  }
}

%base-card-notification {
  block-size: 100%;
  padding: map.get($spacing, 10);
}

%base-card-notification-body {
  block-size: 100%;
}
