@use "sass:map";
@use "../../../abstracts/index" as *;

/*
------------------------------------- 
  Container signup style  
-------------------------------------
*/
%container-signup-body {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));

  @media only screen and (min-width: map.get($breakPoints, md)) {
    grid-template-columns: 50% 45%;
    align-items: center;
    justify-content: space-between;
  }

  > :nth-child(1) {
    grid-column: 1;
    grid-row: 1;

    @media only screen and (min-width: map.get($breakPoints, md)) {
      grid-column: 2;
      grid-row: 1;
    }
  }

  > :nth-child(2) {
    grid-column: 1;
    grid-row: 2;

    @media only screen and (min-width: map.get($breakPoints, md)) {
      grid-column: 1;
      grid-row: 1;
    }
  }
}

/*
------------------------------------- 
  Container notification style  
-------------------------------------
*/
%container-notification {
  display: flex;

  @media only screen and (min-width: map.get($breakPoints, md)) {
    justify-content: center;
  }

  > * {
    flex: 0 0 100%;

    @media only screen and (min-width: map.get($breakPoints, md)) {
      flex: 0 0 50%;
    }
  }
}

%container-notification-body {
  display: flex;
  flex-wrap: wrap;

  > * {
    flex: 1 1 100%;
  }

  > :nth-child(1) {
    align-self: center;
  }

  > :nth-child(2) {
    align-self: end;
  }
}
