@use "sass:map";
@use "../abstracts/index" as *;

@mixin list() {
  inline-size: 100%;

  &-group {
    display: flex;
    flex-wrap: wrap;
    row-gap: map.get($spacing, 2);
  }

  &-item {
    display: inline-flex;
    align-items: start;
    column-gap: map.get($spacing, 4);
    flex: 0 0 100%;
  }

  &-icon {
    background: url(../assets/images/icon-list.svg);
    background-size: contain;
    background-repeat: no-repeat;
    inline-size: 1.2em;
    block-size: 1.2em;
    flex: 0 0 auto;
  }

  &-text {
    @include line-clamp(2);
    @include font-preset-2($color: var(--blue-80), $fontWeight: 400);
    flex: 1 1 auto;
  }
}
