/*
-------------------------------------------------
    Color
-------------------------------------------------
*/
$color: (
  red: hsl(4, 100%, 67%),
  red-100: hsl(356, 100%, 94%),
  blue-800: hsl(234, 29%, 20%),
  blue-700: hsl(235, 18%, 26%),
  grey: hsl(0, 0%, 58%),
  white: hsl(0, 0%, 100%),
);
/*
-------------------------------------------------
    Color end
-------------------------------------------------
*/

/*
-------------------------------------------------
    Font size
-------------------------------------------------
*/
$fontSize: (
  xs: 0.75rem,
  sm: 0.875rem,
  md: 1rem,
  lg: 1.125rem,
  xl: 1.25rem,
  2xl: 1.5rem,
  3xl: 2rem,
  4xl: 2.5rem,
  5xl: 3rem,
  6xl: 3.5rem,
);
/*
-------------------------------------------------
    Font size end
-------------------------------------------------
*/

/*
-------------------------------------------------
    Margin & padding
-------------------------------------------------
*/
$spacing: (
  xs: 0.25rem,
  sm: 0.5rem,
  md: 1rem,
  lg: 1.5rem,
  xl: 2rem,
  2xl: 2.5rem,
  3xl: 3rem,
  4xl: 3.5rem,
);
/*
-------------------------------------------------
    Margin & padding end
-------------------------------------------------
*/

/*
-------------------------------------------------
    Radius
-------------------------------------------------
*/
$radius: (
  sm: 0.125rem,
  md: 0.25rem,
  lg: 0.5rem,
  xl: 1rem,
  2xl: 1.5rem,
  full: 50%,
);
/*
-------------------------------------------------
    Radius end
-------------------------------------------------
*/
