@use "sass:map";
@use "./placeholder" as *;
@use "../../abstracts/index" as *;
@use "../../components/index" as *;

.container-success {
  display: flex;
  flex-direction: column;
  block-size: 100%;

  @include media-query-md() {
    align-items: center;
    block-size: auto;
  }
}

.success {
  @extend %base-card;
  padding: map.get($spacing, 10);
  inline-size: 100%;

  @include media-query-md() {
    inline-size: 50%;
  }

  &__body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    block-size: 100%;
  }

  &__header {
    @extend %layout-card-header;
    align-self: center;
    block-size: 50%;
    justify-content: end;
  }

  &__icon {
    inline-size: 4em;
  }

  &__title {
    @extend %base-card-title;
  }

  &__desc {
    @extend %base-card-desc;
    @include line-clamp(5);
  }

  &__button {
    align-self: end;
    margin-block-start: map.get($spacing, 10);
    @include button();
  }
}
